{% extends 'default/index.html.twig' %}

{% block afterValidSubmit %}
    <table class="table">
        <thead>
        <tr>
            <td>
                Wynik
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {{ newTemperature }}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
